<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task 1</title>

    <link rel="stylesheet" href="foundation.min.css" />

  </head>
  
  <body>

    <header class="row">
      <h2 class="small-12 columns">Instagram / Twitter Stream</h2>
    </header>
    
    <div class="row" id="master-feed">
      <section class="small-12 columns" id="social">
        <%= @html %>
      </section>
    </div>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

  </body>

</html>