<section class="row">
  <h2 class="small-6 columns" style="text-align:center;">Instagram : imarkwick Twitter : no_mayo_digital</h2>
</section>

<div class="row" id="master-feed">
  <section class="small-6 columns" id="social" style="text-align:center;">
    <div>
      <%= @html %>
    </div>
  </section>
</div>